/* add css module styles here (optional) */

.duke_scholars_profile_wrapper {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.initiallyHidden {
  height: 1px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  transition: height 120ms;
}

.initiallyHiddenRevealed {
  height: auto;
  overflow: visible;
  padding: auto;
  margin: auto;
}

